<div id="<%= dom_id popular_property %>">
  <p>
    <strong>Property:</strong>
    <%= popular_property.property_id %>
  </p>

  <p>
    <strong>Sort order:</strong>
    <%= popular_property.sort_order %>
  </p>

</div>
