<div class="space-y-6">
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">Contact Email</h3>
    <p class="mt-2 text-sm text-gray-500"><%= @admin_config.contact_email %></p>
  </div>
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">About Us</h3>
    <div class="mt-2 prose prose-sm max-w-none">
      <%= @admin_config.about_us %>
    </div>
  </div>
  <div class="mt-6 flex items-center gap-x-4">
    <%= link_to "Edit this admin config", edit_admin_admin_config_path, class: "rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500" %>
    <%= link_to "Back", admin_admin_config_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
  </div>
</div>
