<div class="container mx-auto px-4 py-12">
  <div class="bg-white rounded-lg shadow overflow-hidden">
    <div class="p-6">
      <h1 class="text-2xl font-bold text-gray-900 mb-4">About Us</h1>
      <div class="prose max-w-none">
        <%= @admin_config.about_us %>
      </div>
    </div>
  </div>
</div>
